<%- include('partials/header'); %>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-bg-12">
            <div class="shadow-lg p-3 mb-1 bg-white rounded">
                <div class="aboutMe">
                    <img class="circular--square" src="https://pbs.twimg.com/profile_images/1113815414071603201/3UUN2zhN_400x400.jpg">
                    <h2>A brief Introduction</h2>
                    <p>I am Mert Pehlivancık. I am a computer engineer.<br> You can access my web addresses by clicking the icons below.
                    </p>
                    <a href="https://www.instagram.com/mert_pehlivancik/" target="blank"><span><i class="fab fa-instagram w3-xxxlarge icon" aria-hidden="true"></i></span></a>
                    <a href="https://twitter.com/mertpehlivancik/" target="blank"><span><i class="fab fa-twitter w3-xxxlarge icon" aria-hidden="true"></i></span></a>
                    <a href="https://www.facebook.com/mpehlivancik/" target="blank"><span><i class="fab fa-facebook w3-xxxlarge icon" aria-hidden="true"></i></span></a>
                    <a href="https://www.linkedin.com/in/mert-pehlivancik-121540138/" target="blank"><span><i class="fab fa-linkedin w3-xxxlarge icon" aria-hidden="true"></i></span></a>
                    <a href="https://github.com/MertPehlivancik" target="blank"><span><i class="fab fa-github w3-xxxlarge icon" aria-hidden="true"></i></span></a>
                    <a href="https://www.hackerrank.com/m_pehlivancik" target="blank"><span><i class="fab fa-hackerrank w3-xxxlarge icon" aria-hidden="true"></i></span></a>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('partials/footer'); %>