<%- include('partials/header'); %>
		<h1>You fell in love with: <%= thingVar.toUpperCase() %></h1>
		<% if(thingVar.toLowerCase() === "rusty"){ %>
			<p>BEST CHOICE! I LOVE THE RUSTY</p>	
		<% } else{ %>
		<p>BAD CHOICE!</p>
		<% } %>
		<p>P.S. this is the love.ejs file!</p>
<%- include('partials/footer'); %>




